body {
    margin: 0px;
    background-color: blanchedalmond;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    min-width: 100px;
    background-color: white;
}