body {
    margin: 30px;
    background-color: lightgrey;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: ;
}

table {
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    min-width: 100px;
    padding: 10px;
    background-color: darkgrey;
}

td, th {
    min-width: 100px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.complete {
    background-color: rgb(133, 221, 1);
}

.taskName {
    font-size: 20px;
}

.taskDescription {
    font-size: 16px;
    max-width: 300px;
}

.form-floating {
    width: 600px;
}

#submitBtn {
    margin: 0 0 20px 0;
}

#nameInput {
    width: 200px;
}

#descriptionInput {
    width: 600px;
    margin: 0 0 20px 0;
}

#inputFields {
    margin: auto;
    width: 600px;
}

.completeTaskBtn {
    background-color: green;
    margin: 0 5px 0 0;
}

